### List of Keywords

           False      class      finally    is         return
           None       continue   for        lambda     try
           True       def        from       nonlocal   while
           and        del        global     not        with
           as         elif       if         or         yield
           assert     else       import     pass
           break      except     in         raise

### 1. Integer

In [8]:
 from IPython.display import HTML, display

 data = [['Operation', 'Symbol', 'Example', 'Result'],
         ['Division' ,'//', '24 // 12', 2],
         ['Modulus (remainder)','%', '28 % 10',8],
         ['Exponent (power)', '**', '2**10',1024]
         ]

 display(HTML(
    '<table><tr>{}</tr></table>'.format(
        '</tr><tr>'.join(
            '<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in data)
        )
 ))

### NOTE
1. In Python 3, / always performs floating-point division and // always performs integer division – even if the dividend and divisor are floats!

2. Some other languages (e.g. C, Java) has limits for size of integers to be stored (2**8, 2**16, 2**32 and 2**64). Python has no fixed limit and store larger numbers if there is enough memory and processing power available on the machine.

#### Python is strongly Typed

In [11]:
# we can't combine integer and string

print("total number " + 3)

TypeError: Can't convert 'int' object to str implicitly

In [15]:
# Use str() method to convert anything to string.

print("total number " + str(30))

# String formatting for integer using %d.

print("total number %d" % 30)

total number 30
total number 30

### 2. Floating-point numbers

Different ways to express numbers : $ 1.2 x 10^{15} $

    1. 1.2e15
    2. 1.2e+15
    3. 12e14
    4. .012e17

In [2]:
1.2e-4

0.00012

In [5]:
# string formating for float numbers

# This will print 34.35
print("%.2f" % 34.3456)

34.35

### NOTE

 - We can combine integers and floating-point numbers. The output will always be a floating-point number.
 - The largest floating-point number size limit is 2**1023 
 
### SUMMARY
 - In Python 3, / is float division

 - In Python 2, / is integer division (assuming int inputs)

 - In both 2 and 3, // is integer division
 
``` 
>>> b = 12
>>> a = 36
>>> a/b
3.0
>>> a//b
3
```

### 3. Strings

Other languages treat single character as a different variable type ( for example ```char``` in c-programming)
but Python treats single character as a string of length 1.

#### 3.1 String formatting

In [6]:
greeting = "Namaste!"
name = 'sijan'
room = 10

print("%s %s. Your room number is %d " % (greeting, name, room))

Namaste! sijan. Your room number is 10

### NOTE
 - order of the variable placeholders is important

#### 3.2 Triple quotes

 If you need to maintain a long literal spanning multiple lines, then use triple quotes.

In [10]:
triple_quote_ex = '''Hi Guys, 
We are learning Python'''

single_quote_ex = '"Hi Guys,\n We are learning Python'

In [11]:
triple_quote_ex

'"Hi Guys,\n We are learning Python'

In [12]:
single_quote_ex

'"Hi Guys,\n We are learning Python'

#### 3.3 String Operations

##### 3.3.1 len()

In [40]:
tutorial = 'python Programming'
len(tutorial)

18

##### 3.3.2 lower() , upper(), title()

In [41]:
tutorial.lower()

'python programming'

In [42]:
tutorial.upper()

'PYTHON PROGRAMMING'

In [43]:
tutorial.title()

'Python Programming'

### NOTE
- In Python, strings are immutable – that means that we can’t modify a string once it has been created.

In [25]:
# Let's prove string is immutable
s = "python"
print (id(s))
print (s)
s += " is amazing"
print (id(s))
print (s)

print (s[0])
s[0] = 'j' # it should raise error, as string is immutable.

140229829262784
python
140229679475928
python is amazing
p

TypeError: 'str' object does not support item assignment

##### 3.3.3 Template Class

In [26]:
from string import Template
template = Template('$who likes $what')
template.substitute(who='ravi', what='python')

'ravi likes python'

##### 3.3.4 find(), count(), index()

In [60]:
word = "Python Programming"

print (word.count('P')) # count how many times 'P' is in the string

print (word.find("P")) # find char

print (word.find("Progr")) # find substring

print (word.index("Progr")) # find the letters World in the string

2
0
7
7

##### 3.3.5 slicing

In [29]:
print (word[0])     #get one char of the word
print (word[0:1])   #get one char of the word (same as above)
print (word[0:3])   #get the first three char
print (word[:3])    #get the first three char
print (word[-3:])   #get the last three char
print (word[3:])    #get all but the three first char
print (word[:-3])   #get all but the three last character

P
P
Pyt
Pyt
ing
hon Programming
Python Programm

### NOTE
- 
If there is no value before the first colon, it means to start at the beginning index. If there isn't a value after the first colon, it means to go all the way to the end 
- remember that in Python, ending indices are often exclusive rather than inclusive

```
word[start:end]    	# items start through end-1
word[start:]            # items start through the rest of the list
word[:end]              # items from the beginning through end-1
word[:]                 # a copy of the whole list
```

##### 3.3.6 split()

In [30]:
word.split(' ')  # Split on whitespace

['Python', 'Programming']

##### 3.3.7 startswith(), endswith(), replace()

In [31]:
word.startswith("P")

True

In [32]:
word.endswith("H")

False

In [38]:
change_word = word.replace("Python", "Jython")
change_word

'Jython Programming'

##### 3.3.8 Concatenation

In [33]:
first = 'python'
second = 'programming'
final = first + ' ' + second
final

'python programming'

##### 3.3.9 Repeat Strings

In [35]:
test_string = 'Bakklod '
total_string = test_string * 10
total_string

'Bakklod Bakklod Bakklod Bakklod Bakklod Bakklod Bakklod Bakklod Bakklod Bakklod '

##### 3.3.10 strip()

    strip()     #removes from both ends
    lstrip()    #removes leading characters (Left-strip)
    rstrip()    #removes trailing characters (Right-strip)

In [45]:
word = "    xyz    "
word.strip()

'xyz'

In [46]:
word.rstrip()

'    xyz'

In [47]:
word.lstrip()

'xyz    '

##### 3.3.11 testing

In [48]:
word = "Hello World"
 
word.isalnum()         #check if all char are alphanumeric 
word.isalpha()         #check if all char in the string are alphabetic
word.isdigit()         #test if string contains digits
word.istitle()         #test if string contains title words
word.isupper()         #test if string contains upper case
word.islower()         #test if string contains lower case
word.isspace()         #test if string contains spaces
word.endswith('d')     #test if string endswith a d
word.startswith('H')   #test if string startswith H

True

##### 3.3.12 iteration

In [52]:
for char in word:
    print (char)

print('\n\n')
for index, value in enumerate(word):
    print(index, value)

H
e
l
l
o

W
o
r
l
d



0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

##### 3.3.13 format()

In [54]:
# Default
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [1]:
a = 'sijan'

In [2]:
del a