### 1. TUPLE

 - immutable
 - defines by putting a comma-separated list of values inside round brackets (( and )):

In [5]:
levels = ('first', 'second', 'third')

# defining empty tuple
my_tuple = ()

# accessing elements
print(levels[0])

# slicing and creatting sub-tuples
print(levels[1:]) # note that our slice will be a new tuple, not a list

# count and index 
print (levels.count('first'))
print(levels.index('third'))

# ...ERROR :  THIS IS NOT ALLOWED
levels.append('fourth')
levels[1] = 'fifth'

first
('second', 'third')
1
2

AttributeError: 'tuple' object has no attribute 'append'

#### What are use of TUPLEs?

- If you don't want to modify the values throughout your program

- For example, you can save your weekdays in tuple

### Single Element Tuple

In [8]:
# () only interpreted as expression while manipulating precedence
a = (33)
print(a, type(a))

# if you need to define single element tuple, you need to have ',' at the end.
b = (33,)

print(b, type(b))

33 <class 'int'>
(33,) <class 'tuple'>

### 2. Range - generators

Creating Immutable sequences

In [12]:
# '5' is taken as UPPER bound

data = range(5)
print(data)

range(0, 5)

In [11]:
for each_data in data:
    print(each_data)

0
1
2
3
4

In [13]:
# '1' as LOWER bound and '10' as UPPER bound

data2 = range(1,10)
for each_data in data2:
    print(each_data)

1
2
3
4
5
6
7
8
9

In [16]:
# third parameter as a step-size

data3 = range(1,15,2)
for each_data in data3:
    print(each_data)

1
3
5
7
9
11
13

### 3. SET

- collection of unique elements

In [17]:
days = {'sun', 'mon', 'tue', 'wed', 'thu', 'thu'}
print(days) # the set will only contain one thu

{'mon', 'sun', 'thu', 'wed', 'tue'}

#### 3.1 SET OPERATIONS

In [27]:
set_1 = {2,6,8,9,12,21,34}
set_2 = {6,9,21,35,56,78}

# subtraction
print(set_1 - set_2)

# union: 
print(set_1 | set_2)

# intersection
inter = (set_1 & set_2)
print (inter)

# numbers which are in set_1 or set_2 not both
print(set_1 ^ set_2)

{8, 34, 2, 12}
{34, 2, 35, 6, 8, 9, 12, 78, 21, 56}
{9, 21, 6}
{34, 35, 2, 8, 56, 12, 78}

#### 3.2 SET METHODS
  - union
  - intersection
  - difference
  - issubset
  - and # Adds item to the set
  - remove 
  - pop # Removes an arbitrary element from the set
  - clear

In [2]:
# union

set_1.union(set_2)

{2, 6, 8, 9, 12, 21, 34, 35, 56, 78}

In [3]:
# Intersection

set_1.intersection(set_2)

{6, 9, 21}

In [28]:
import timeit

def intersection_operator():
    return (set_1 & set_2)

def intersection_method():
    return set_1.intersection(set_2)

In [29]:
timeit.timeit(intersection_operator)

0.3541080340000917

In [30]:
timeit.timeit(intersection_method)

0.4404282059999787