### LIST, SET, DICTIONARIES

### LIST

#### List is used to store multiple values, and access them sequentially, by their position, or index

In [1]:
# a list of strings
students = ['bhuwan', 'bipen', 'madhav', 'naresh', 'pawan', 'sanjeev']

# a list of integers
numbers = [1, 7, 34, 20, 12]

# an empty list
my_list = []

### NOTE
- plural nouns is a convention for list naming

#### The built-in function len() returns the number of elements in a list

In [2]:
len(students)

6

#### The built-in function sum() ruturns the sum of elements in a number list

In [3]:
sum(numbers)

74

#### Accessing Individual elements

In [5]:
print (students[0])
print (students[-1])

bhuwan
sanjeev

#### Creating sublist from a given list

In [6]:
sub_students = students[0:3]
sub_students

['bhuwan', 'bipen', 'madhav']

#### Sublist with stepsize